<div>
  <div class="outlet-logo" *ngIf="outlet">
    <img *ngIf="outlet.image"
         [src]="outlet.image"
         [alt]="outlet.label"/>
    <div *ngIf="!outlet.image">
      <svg width="375" height="200" viewBox="0 0 375 200" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0H375V200H0V0Z" fill="#4E4E4E"/>
        <path
          d="M190.4 90.1401L184.5 98.0001L189 104C189.66 104.88 189.48 106.14 188.6 106.8C187.72 107.46 186.46 107.3 185.8 106.4C183.7 103.6 181.18 100.26 179.6 98.1201C178.8 97.0601 177.2 97.0601 176.4 98.1201L168.4 108.78C167.42 110.12 168.36 112 170 112H206C207.64 112 208.58 110.12 207.6 108.8L193.6 90.1401C192.8 89.0601 191.2 89.0601 190.4 90.1401Z"
          fill="white"/>
      </svg>
    </div>
  </div>
  <h1>{{outlet?.label}}</h1>
  <mat-nav-list *ngIf="menu && menu.sections.length > 0">
     <ng-container *ngFor="let section of menu.sections">
       <h3 matSubheader>{{section.title}}</h3>
       <mat-list-item>
         <mat-icon matListIcon>add_circle_outline</mat-icon>
         Add new Item
       </mat-list-item>
       <ng-container *ngFor="let item of section.items">
         <mat-divider></mat-divider>
         <mat-list-item  (click)="navigateToUpdate(item.id)">
           <img matListAvatar [src]="item.image"/>
           <div mat-line>{{item.label}}</div>
         </mat-list-item>
       </ng-container>
     </ng-container>
  </mat-nav-list>
</div>
